test.py
haarcascade_frontalface_alt.xml
haarcascade_frontalface_alt2.xml
.google-cookie
__pycache__
sample_image/1.jpg
sample_image/2.jpg
sample_image/3.jpg
sample_image/4.jpg
sample_image/chris*.jpg
sample_image/705.jpg
Download/img/*.jpg
!Download/img/1.jpg
Download/img2
Download/img3
Download/img4
Download/img5
Download/img6
Download/img7
